<div>
  <h1 class="text-4xl font-bold">Checkout#show</h1>
  <p>Find me in app/views/checkout/show.html.erb</p>
  <%= render partial: "pay/stripe/checkout_button", locals: {session: @checkout_session, title: "Checkout"} %>
</div>
